@font-face {
  font-family: 'icomoon';
   src:url('../font/icomoon.eot?-75rrtu');
   src:url('../font/icomoon.eot?#iefix-75rrtu') format('embedded-opentype'),
      url('../font/icomoon.svg?-75rrtu#icomoon') format('svg'),
      url('../font/icomoon.woff?-75rrtu') format('woff'),
      url('../font/icomoon.ttf?-75rrtu') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ---------- Body Globals -----------*/

html, body {
  margin:0;
  padding:0;
  font:normal 18px/1.5 'Raleway', sans-serif;
  color: #fff;
  background: #26292c;
}

header, footer {
  padding: 1.2em 0;
  font-size: .8em;
}

main {
  color: #333537;
  background: #e2e5e8;
  padding-bottom:1em;
}

article {
  width:80%;
  margin:0 auto;
  padding:.2em;
  min-width:310px;
  box-sizing: border-box;
}

a {
  color: #333537;
  transition:all .3s linear;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
}

h1, h2 {
  color:#ef2a79;
}

h1 { font-size: 2.3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.1em; }

pre, code {
  color: #2b3d50;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  line-height: 140%;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-wrap: normal;
  word-spacing: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  padding:.3em;
}

pre {
  padding:.5em .3em;
  overflow: auto;
  background: #f7f8f8;
}

@media screen and (min-width: 550px) and (max-width: 849px) {
  pre, code {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px) {
  pre, code {
    font-size: 16px;
  }
}

footer p {
  padding-left:62px;
  background:transparent url(../img/cd-logo.svg) 10px center no-repeat scroll;
}

footer a {
  color: #fff; text-decoration: none;
}

menu li { display: inline-block; padding-right: 2em; }
menu strong { font-size:2em; }
menu a,
menu li.top a:hover { border-bottom:3px solid transparent; color: #fff; text-decoration: none;}

menu a:hover,
menu li.active a { border-bottom:3px solid #ef2a79; }

@media only screen and (max-width: 520px) {
  menu li { padding-right: .5em }
}

/* ---------- Content -----------*/

.message-info,
.message-notice,
.message-warning {
    box-sizing: border-box;
    margin: 1em 0;
    padding: 10px 10px 10px 15px;
    border:1px solid #ddd;
}

.message-info a,
.message-notice a,
.message-warning a {
  color: black;
}

.message-info code,
.message-notice code,
.message-warning code {
  background:rgba(255,255,255,0.8);
  border:1px solid #ddd;
}

.message-info {
  color:#196090;
  background:#cce5f6;
}

.message-info code {
  border-color:#5faee3;
  color:#196090;
}

.message-notice {
  color:#927608;
  background:#fbedb8;
}

.message-notice code {
  border-color:#f4d03f;
  color:#927608;
}

.message-warning {
  color:#a82315;
  background:#fbdedb;
}

.message-warning code {
  border-color:#ed7669;
  color:#a82315;
}

.contribute {
  padding: 2em;
  border-radius: 3px;
  margin-bottom: 2em;
  text-align:center;
  background: #f7f8f8;
}

.contribute a {
  display:block;
  margin:1em auto;
  padding:.6em;
  width:200px;
  box-sizing: border-box;
  font-weight:bold;
  color:#fff;
  background:#ef2a79;
  border-radius:.3em;
  text-decoration: none;
}

.contribute a:hover {
  transform: scale(1.1);
}

/*
Source: https://github.com/richleland/pygments-css
*/
.highlight      { border:1px solid #ddd; }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */